html {
  scroll-behavior: smooth;
}

body {
  background-color: #2E2E2E;
  margin: 0;
  color: #ffffff;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
}

p, a, nav {
  font-family: "Roboto", sans-serif;
}

.header {
  color: #ffffff;
  width: 100%;
  padding: 20px;
  background-color: #000000;
}

.logo {
  width: 150px;
  margin-right: 60px;
  height: auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar_nav {
  display: flex;
  align-items: center;
}
.navbar_nav li {
  list-style: none;
  margin: 30px;
}
.navbar_nav li a {
  text-decoration: none;
  color: #ffffff;
  transition: 250ms;
  margin-left: 25px;
}
.navbar_nav li a:hover {
  background-color: #ffffff;
  padding: 15px 10px 15px 10px;
  border-radius: 10px;
  color: #000000;
  transform: scale(1.15);
}
.navbar_nav li a:hover:active {
  background-color: #B76E79;
  color: #ffffff;
}

#navbar_link--pink {
  background-color: #B76E79;
  border: 1px solid none;
  padding: 15px 10px 15px 10px;
  border-radius: 10px;
  color: #ffffff;
}

#navbar_link--pink:hover {
  color: #ffffff;
}

#navbar_link--pink:active {
  background-color: #ffffff;
  color: #2E2E2E;
}

.accueil {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 10px;
  transform: scale(1);
  animation: fadeIn 2s ease-in-out forwards;
}
.accueil p {
  text-transform: uppercase;
  font-style: italic;
  font-size: 50px;
}
.accueil .btn {
  border: 1px;
  background-color: #B76E79;
  border-radius: 10px;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 25px 10px 25px;
}
.accueil .btn:active {
  background-color: #ffffff;
  color: #2E2E2E;
}

#services {
  padding: 25px 0 25px 25px;
}
#services h1 {
  font-size: 2em;
  color: #B76E79;
}
#services .service {
  text-align: center;
}
#services .service section {
  width: auto;
  display: inline-block;
  margin: 25px;
}

.scissors {
  border-radius: 30%;
  width: 10%;
  background-color: #B76E79;
  padding: 5px;
}

#images {
  padding: 25px 0 25px 25px;
}
#images h2 {
  color: #B76E79;
  font-size: 2em;
}
#images .image {
  padding: 20px 0 20px 0;
}

/* Style du carousel */
.carousel-inner img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

#contacts {
  padding: 25px 0 25px 25px;
}
#contacts .contact {
  font-family: "Playfair Display", serif;
}
#contacts .contact h2 {
  color: #B76E79;
}
#contacts h3 {
  font-size: 1.5em;
  text-align: center;
  padding: 40px;
}
#contacts a {
  text-decoration: none;
  margin: auto;
  display: flex;
  align-items: center;
}
#contacts a i {
  padding: 0 5px 0 0;
}

footer {
  background-color: #000000;
  padding: 20px;
  text-align: center;
  color: #ffffff;
}

/* Smartphones standard (iPhone XR, Galaxy, etc.) */
@media (max-width: 768px) {
  .header {
    padding: 0;
  }
  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 1em;
  }
  .container .logo {
    width: 5rem;
    height: auto;
  }
  .container nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .container nav ul li {
    padding: 0;
    margin-right: 0;
  }
  #navbar_link--pink {
    background-color: #000000;
  }
  #accueil p {
    font-size: 2em;
  }
  .service {
    text-align: center;
  }
  .service section {
    padding: 0;
  }
  .image p{
    text-align:center;
  }
  #contacts .contact iframe {
    height: 30rem;
    width: 100%;
    padding-right: 2rem;
  }
  #contacts .contact p .custom {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */
